/Artículos
/blanck.csv
/collatz.csv
/collatz.py
/collatz10e4.csv
/collatz2.csv
/collatz3.csv
/collatz_1_10000.csv
/collatz_C(x)_100_pi_10_35.csv
/collatz_C(x)_10_5.csv
/collatz_C(x)_10_7.csv
/collatz_C(x)_6_10_5_secuencia.csv
/collatz_C(x)_tabla.csv
/collatz_eleccion copy.py
/collatz_prop_pares.csv
/collatz_singles.csv
/collatz_T(x)_10_5.csv
/collatz_T(x)_comprobacion_modelo.csv
/collatz_T(x)_ejemplo_modelo_sencillo.csv
/Figures
/prueba.csv
/prueba.py
/visualizacion.csv
/visualization.ipynb
/__pycache__